<%#= tab :suppliers # wtf.. why isn't this working?? %>

<li class="<%= request.path =~ Regexp.new("^#{admin_suppliers_path}") ? "selected" : "" %>">
  <%= link_to "Suppliers", admin_suppliers_path %>
</li>
